.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 2rem;
}

.old{
  height: 150vh;
}
@media (max-width: 1024px) {
  .products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 2rem;
  }

  
  .old{
    height: 120vh;
  }
}
@media (max-width: 768px) {

  .old{
    height: 170vh;
  }
  .products-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 2rem;
  }
}
