.card-productos{
width: 350px;
height: 100%;
box-shadow: 6px 13px 61px -30px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 13px 61px -30px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 13px 61px -30px rgba(0,0,0,0.75);
}

.card-img{
    width: 80%;
}

.boton-productos{
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
   

}

.boton-productos:hover{
    background-color: rgb(255, 255, 255);
    color: black;
   
    
}