.navbar-bs{
    background-color: rgba(4, 10, 67, 0.924);
}

.navbar-list{
color: white;
font-size: 1.3rem;

}

.navbar-list:hover{
    color: rgb(76, 12, 237);
   
 }

.button-responsive {
    background-color:   rgba(6, 12, 74, 0.924); 
    
}

.icon-book{
    color: white;
    margin-top: 0.2rem;
 
}

.icon-book:hover{
    color:rgb(76, 12, 237);
}

.hardcoded-number{
    color: white;
}

.hardcoded-number:hover{
    color: rgb(76, 12, 237);
}