.navbar-bs{
    background-color: white;
    padding: 0%;
  
    
  
}

.navbar-list{
color: black;
font-size: 1.3rem;
text-decoration: none;


}

.navbar-list:hover{
  text-decoration: underline;
   
 }

.button-responsive {
    background-color: white; 
    
}



